
@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: "Doto", sans-serif;
}

h1,
h2,
h3,
h4, 
h5 {
    color: #fff;
}


p,
li,
a, 
button {
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
}

li,
ul {
    list-style: none;
}

a {

    &:hover {
        color: #2e86c1;
    }
}